#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #201f20;
  border-radius: 8px;
  padding-top: 4vh;
  width: 60vw;
  scrollbar-color: #282829 transparent;
}


.response-container {
  position: relative;
}

.response {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  text-align: left;
  padding-inline: 1vw;
  padding-bottom: 1rem;
  height: 64vh;
  position: relative;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.315) transparent;
}

.shade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  padding: 4vh 0;
}


.bottom input {
  width: 50%;
  padding-inline: 1vw;
  border: none;
  border-radius: 4px 0 0 4px;
  height: 100%;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.bottom button {
  padding-inline: 2vw;
  height: 100%;
  background-color: #3052c4;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
  box-sizing: border-box;
}

.bottom input:focus {
  outline: none;
}

.default-message {
  color: #888;
  font-style: italic;
}

.user-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 20px;
  margin: 20px 0;
  border-radius: 20px;
  color: #ffffff;
  background-color: #3a4053;
  width: fit-content;
  max-width: 40%;
  margin-left: auto;
  text-align: left;
}

.user-message .content {
  display: inline-block;
  max-width: 100%;
  word-break: break-word;
}

.model-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  color: #ffffff;
  background-color: #282b36;
  width: 60%;
  box-sizing: border-box;
}
.model-message .content {
  display: inline-block;
  max-width: 100%;
  word-break: break-word;
}

.model-message p {
  margin: 0;
}

.model-message pre {
  background-color: #00000013;
  padding: 10px;
  border-radius: 4px;
  max-width: 100%;
  overflow-x: scroll;
  scrollbar-color: rgba(255, 255, 255, 0.24) transparent;
}

.model-message code {
  overflow: hidden;
  color: rgb(236, 236, 236);
}

.model-message ol,
.model-message ul {
  margin: 0 0 0 1.5em;
  padding: 0;
}

.model-message li {
  margin: 0;
  padding: 0;
}

.model-message li p {
  display: inline;
  margin: 0;
  padding: 0;
}